@page "/vehicles/createvehicle"

@inject IVehicleDealershipService VehicleDealershipService
@inject NavigationManager NavigationManager
@inject ILanguageService LanguageService
@using Blazored.LocalStorage;
@using Microsoft.AspNetCore.Components.Authorization;
@using P06Shop.Shared.Auth;
@using P06Shop.Shared.Services.AuthService;
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IAuthService AuthService
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@if (selectedLanguage != null)
{
<h3>@LanguageService.GetLanguage(selectedLanguage, "CreateVehicleTitle")</h3>

@if (message != null)
{
    <p><em>@message</em></p>
}
else
{
    <VehicleForm vehicle="vehicle" OnValidSubmit="HandleValidSubmit"></VehicleForm>
}
}
@code {
    private Vehicle vehicle = new Vehicle();
    private string? message = null;

    private string selectedLanguage;

    protected override async Task OnInitializedAsync()
    {
        selectedLanguage = await LocalStorageService.GetItemAsync<string>("language") ?? "english";
    }

    async Task HandleValidSubmit()
    {
        var response = await VehicleDealershipService.CreateVehicleAsync(vehicle);
        if (response.Success)
            NavigationManager.NavigateTo("/vehicles/vehiclesList");
        else
            message = response.Message;
    }
}
