@page "/"
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject ILanguageService LanguageService

<PageTitle>Index</PageTitle>

@code {
    private string selectedLanguage;

    private bool isDarkTheme;
    private string selectedTheme;

    protected override async Task OnInitializedAsync()
    {
        // Initialize the selected language from local storage or a default value
        selectedLanguage = await LocalStorage.GetItemAsync<string>("language") ?? "english";
        selectedTheme = await LocalStorage.GetItemAsync<string>("theme") ?? "light";
        isDarkTheme = selectedTheme == "dark";

        // Set the initial theme using JSInterop
        await JSRuntime.InvokeVoidAsync("themeSwitcher.setTheme", selectedTheme);
    }
}

@if (selectedLanguage != null)
{
    <h1>@LanguageService.GetLanguage(selectedLanguage, "WelcomeTitle")</h1>
    <!-- Add similar usage for other translated strings -->

    <p>@LanguageService.GetLanguage(selectedLanguage, "DealershipDescription")</p>
}
else
{
    <p>Selected language is null.</p>
}
